@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE>

<html>
<body class="" background="img\background4.jpg">
    <div class="text-center">
        <a class="btn btn-outline-danger btn-lg" asp-action="Index" asp-controller="Users">Login</a>
        <br />
        <br />
        <a class="btn btn-outline-danger btn-lg" asp-action="Index" asp-controller="Users">Register</a>
    </div>
</body>
</html>
