@{
    ViewData["Title"] = "List your item - RentNow";
}

<!DOCTYPE html>
<html>
<body>
    <div class="text-center">
        <h1> List your item for rent</h1>
    </div>
    <br />
    <div class="text-sm-left">
        <form>
            <div class="form-group">
                <label for="name"><strong>Item</strong></label>
                <input type="email" class="form-control" id="" aria-describedby="" placeholder="Name of item">
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1"><strong>Category</strong></label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>Appliances</option>
                    <option>Automotive</option>
                    <option>Books</option>
                    <option>Clothing</option>
                    <option>Electronics</option>
                    <option>Games</option>
                    <option>Household Items</option>
                    <option>Sports & Fitness</option>
                    <option>Tools</option>
                    <option>Toys</option>
                </select>
            </div>
            <div>
                <label for="exampleFormControlSelect1"><strong>Description</strong></label><br />
                <textarea id="esc" rows="10" cols="155"></textarea>
            </div><br />
            <div>
                <label for="exampleFormControlSelect1"><strong>Price</strong></label><br />
                $ <textarea id="esc" rows="1" cols="2"> </textarea> <strong>/day </strong> <br />
            </div>
            <br />
            <div class="form-group">
                <label for="exampleFormControlFile1"><strong>Upload image</strong></label>
                <input type="file" class="form-control-file" id="exampleFormControlFile1">
            </div><br />
            <button type="submit" class="btn btn-primary">List</button>
        </form>
    </div>
</body>
</html>