@{
    ViewData["Title"] = "List your item - RentNow";
}

<!DOCTYPE html>
<html>
<body>
    <div class="text-center">
        <h1>Create an account</h1>
    </div>
    <br />
    <div class="text-sm-left">
        <form>
            <div class="form-group">
                <label for="name"><strong>Email Address</strong></label>
                <input type="email" class="form-control" id="" aria-describedby="" placeholder="johndoe123@yahoo.com">
            </div>            
            <div>
                <label for="exampleFormControlSelect1"><strong>First Name</strong></label><br />
                <input type="email" class="form-control" id="" aria-describedby="" placeholder="">
            </div>
            <div>
                <label for="exampleFormControlSelect1"><strong>Last Name</strong></label><br />
                <input type="email" class="form-control" id="" aria-describedby="" placeholder="">
            </div>            
            <div class="form-group">
                <label for="exampleFormControlFile1"><strong>Password</strong></label>
                <input type="email" class="form-control" id="" aria-describedby="" placeholder="**********">
            </div><br />
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>